:root {
  --main-color1: #D3A265;
  --main-color2: #d4c4ba; // #F5C58A;
  --light-color1: #ffffff;
  --light-color2: #FDFBF8;
  --light-color3: #F4F4F4;
  --light-color4: #DFDFDF;
  --grey-color1: #B5B5B5;
  --grey-color2: #8D8D8D;
  --grey-color3: #878787;
  // --grey-color4: #3D3737;
  --dark-color1: #352C2C; // #2a2422
  // --dark-color2: #333231;
  --dark-color3: #212121; // #321f10
  --dark-color4: #161616;
  --line-color: #DCD1BB;
  --main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --special-font: 'Times New Roman', Times, serif;
}
